<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirmation Account</title>
</head>
<body>
    <div style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; margin: 0; color: #0b0c0c;">
        <span style="display: none; font-size: 1px; color: #fff; max-height: 0;"></span>
        
        <!-- Email content goes here -->
        <table role="presentation" class="m_-6186904992287805515content" align="center" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse; max-width: 580px; width: 100% !important;" width="100%">
            <tbody>
                <tr>
                    <td height="30"><br></td>
                </tr>
                <tr>
                    <td width="10" valign="middle"><br></td>
                    <td style="font-family: Helvetica, Arial, sans-serif; font-size: 19px; line-height: 1.315789474; max-width: 560px;">
                        <p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0b0c0c;">Hi [[${name}]],</p>
                        <p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0b0c0c;">Thank you for registering. Please click on the below link to activate your account:</p>
                        <blockquote style="Margin: 0 0 20px 0; border-left: 10px solid #b1b4b6; padding: 15px 0 0.1px 15px; font-size: 19px; line-height: 25px;">
                            <p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0b0c0c;">
                                <a th:href="${link}">Activate Now</a>
                            </p>
                        </blockquote>
                        <p>Link will expire in 5 minutes. See you soon.</p>
                    </td>
                    <td width="10" valign="middle"><br></td>
                </tr>
                <tr>
                    <td height="30"><br></td>
                </tr>
            </tbody>
        </table>
        <div class="yj6qo"></div>
        <div class="adL"></div>
    </div>
</body>
</html>
